/* 产品分类列表页 */
.typeTable{
  display: none;
}
.typetable.listtale{
  width: 500px;
}

/* 新增分类 */
.newType {
  width: 350px;
  height: 200px;
  box-shadow: 1px 1px 3px #6a598c;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -100px;
  display: none;
  background-color: #fff;
  z-index: 2;
}

.newType table {
  margin-top: 20px;
}

.newType .submit {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -150px;
}